In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('non_voters_usa.sqlite')

In [3]:
create_sql_agree_disagree_likert = "CREATE TABLE IF NOT EXISTS agree_disagree_likert (ID INTEGER PRIMARY KEY, \
                                agree_disagree_response TEXT)"
cursor = conn.cursor()
cursor.execute(create_sql_agree_disagree_likert)

insert_sql_agree_disagree_likert = f"INSERT INTO agree_disagree_likert (ID, agree_disagree_response)\
                                VALUES (1, 'Strongly agree'), (2, 'Somewhat agree'), (3, 'Somewhat disagree'),\
                                (4, 'Strongly disagree')"
cursor.execute(insert_sql_agree_disagree_likert)

In [4]:
create_sql_impact_likert = "CREATE TABLE IF NOT EXISTS impact_likert (ID INTEGER PRIMARY KEY, \
                                impact_response TEXT)"
cursor = conn.cursor()
cursor.execute(create_sql_impact_likert)

insert_sql_impact_likert = f"INSERT INTO impact_likert (ID, impact_response)\
                                VALUES (1, 'A significant impact'), (2, 'Somewhat of an impact'),\
                                (3, 'Just a slight impact'), (4, 'No impact at all')"
cursor.execute(insert_sql_impact_likert)

In [5]:
create_sql_q5_responses = "CREATE TABLE IF NOT EXISTS q5_responses (ID INTEGER PRIMARY KEY, \
                                q5_responses TEXT)"
cursor = conn.cursor()
cursor.execute(create_sql_q5_responses)

insert_sql_q5_responses = f"INSERT INTO q5_responses (ID, q5_responses)\
                                VALUES (1, 'Who wins the election really matters'),\
                                (2, 'Things will be pretty much the same')"
cursor.execute(insert_sql_q5_responses)

In [6]:
create_sql_q30_responses = "CREATE TABLE IF NOT EXISTS q30_responses (ID INTEGER PRIMARY KEY, \
                                q30_responses TEXT)"
cursor = conn.cursor()
cursor.execute(create_sql_q30_responses)

insert_sql_q30_responses = f"INSERT INTO q30_responses (ID, q30_responses) VALUES (1, 'Republican'), \
                        (2, 'Democrat'), (3, 'Independent'), (4, 'Another party'), (5, 'No preference')"
cursor.execute(insert_sql_q30_responses)

In [7]:
create_sql_educ_responses = "CREATE TABLE IF NOT EXISTS educ_responses (ID INTEGER PRIMARY KEY, \
                                educ_responses TEXT)"
cursor = conn.cursor()
cursor.execute(create_sql_educ_responses)

insert_sql_educ_responses = f"INSERT INTO educ_responses (ID, educ_responses) VALUES (1, 'College'), \
                            (2, 'High school or less'), (3, 'Some college')"
cursor.execute(insert_sql_educ_responses)

In [8]:
create_sql_race_responses = "CREATE TABLE IF NOT EXISTS race_responses (ID INTEGER PRIMARY KEY, \
                                race_responses TEXT)"
cursor = conn.cursor()
cursor.execute(create_sql_race_responses)

insert_sql_race_responses = f"INSERT INTO race_responses (ID, race_responses) VALUES (1, 'Black'), (2, 'Hispanic'), \
                            (3, 'Other/Mixed'), (4, 'White')"
cursor.execute(insert_sql_race_responses)

In [9]:
create_sql_gender_responses = "CREATE TABLE IF NOT EXISTS gender_responses (ID INTEGER PRIMARY KEY, \
                                gender_responses TEXT)"
cursor = conn.cursor()
cursor.execute(create_sql_gender_responses)

insert_sql_gender_responses = f"INSERT INTO gender_responses (ID, gender_responses) VALUES (1, 'Female'), (2, 'Male')"
cursor.execute(insert_sql_gender_responses)

In [10]:
create_sql_income_cat_responses = "CREATE TABLE IF NOT EXISTS income_cat_responses (ID INTEGER PRIMARY KEY, \
                                income_cat_responses TEXT)"
cursor = conn.cursor()
cursor.execute(create_sql_income_cat_responses)

insert_sql_income_cat_responses = f"INSERT INTO income_cat_responses (ID, income_cat_responses) VALUES \
                                (1, 'Less than $40k'), (2, '$40-75k'), (3, '$75-125k'), (4, '$125k or more')"
cursor.execute(insert_sql_income_cat_responses)

In [11]:
create_sql_voter_category_responses = "CREATE TABLE IF NOT EXISTS voter_category_responses (ID INTEGER PRIMARY KEY, \
                                voter_category_responses TEXT)"
cursor = conn.cursor()
cursor.execute(create_sql_voter_category_responses)

insert_sql_voter_category_responses = f"INSERT INTO voter_category_responses (ID, voter_category_responses) VALUES \
                                (1, 'Always'), (2, 'Sporadic'), (3, 'Rarely/Never')"
cursor.execute(insert_sql_voter_category_responses)

In [12]:
# Imported the CSV file with the non-voters data:
main_df = pd.read_csv('nonvoters_data_clean.csv')
main_df

,RespId,Q3_1,Q3_2,Q3_3,Q3_4,Q3_5,Q3_6,Q4_1,Q4_2,Q4_3,...,Q4_5,Q4_6,Q5,Q30,ppage,educ,race,gender,income_cat,voter_category
0,470001,1,1,4,4,3,2,2,1,2,...,2,2,1,2,73,1,4,1,3,1
1,470002,3,3,4,3,3,2,2,2,2,...,3,1,1,3,90,1,4,1,4,1
2,470003,2,2,3,3,2,2,2,2,3,...,2,3,1,2,53,1,4,2,4,2
3,470007,1,1,4,4,2,1,1,2,2,...,2,2,1,2,58,3,1,1,2,2
4,480008,4,1,1,1,2,4,1,1,1,...,1,1,1,1,81,2,4,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5831,477662,1,1,3,1,1,2,1,1,2,...,2,2,1,2,27,3,2,2,2,1
5832,477663,1,1,3,2,2,1,1,1,2,...,1,3,1,2,59,2,4,1,4,3
5833,488322,1,3,4,2,4,2,2,1,1,...,2,2,1,2,51,1,3,2,4,2
5834,488325,4,3,3,3,3,3,2,2,1,...,2,2,2,3,22,2,1,1,1,1
5835,477666,1,1,4,3,2,3,1,1,1,...,1,1,1,5,22,2,1,1,1,1

In [13]:
create_sql_responses = "CREATE TABLE IF NOT EXISTS responses (RespId INTEGER, q3_1 INTEGER, q3_2 INTEGER, q3_3 INTEGER, \
            q3_4 INTEGER, q3_5 INTEGER, q3_6 INTEGER, q4_1 INTEGER, q4_2 INTEGER, q4_3 INTEGER, q4_4 INTEGER, \
            q4_5 INTEGER, q4_6 INTEGER, q5 INTEGER, q30 INTEGER, pp_age INTEGER, educ INTEGER, race INTEGER, \
            gender INTEGER, income_cat INTEGER, voter_category INTEGER, \
            FOREIGN KEY (q3_1) REFERENCES agree_disagree_likert(ID), \
            FOREIGN KEY (q3_2) REFERENCES agree_disagree_likert(ID), \
            FOREIGN KEY (q3_3) REFERENCES agree_disagree_likert(ID), \
            FOREIGN KEY (q3_4) REFERENCES agree_disagree_likert(ID), \
            FOREIGN KEY (q3_5) REFERENCES agree_disagree_likert(ID), \
            FOREIGN KEY (q3_6) REFERENCES agree_disagree_likert(ID), \
            FOREIGN KEY (q4_1) REFERENCES impact_likert(ID), \
            FOREIGN KEY (q4_2) REFERENCES impact_likert(ID), \
            FOREIGN KEY (q4_3) REFERENCES impact_likert(ID), \
            FOREIGN KEY (q4_4) REFERENCES impact_likert(ID), \
            FOREIGN KEY (q4_5) REFERENCES impact_likert(ID), \
            FOREIGN KEY (q4_6) REFERENCES impact_likert(ID), \
            FOREIGN KEY (q5) REFERENCES q5_responses(ID), \
            FOREIGN KEY (q30) REFERENCES q30_responses(ID), \
            FOREIGN KEY (educ) REFERENCES educ_responses(ID), \
            FOREIGN KEY (race) REFERENCES race_responses(ID), \
            FOREIGN KEY (gender) REFERENCES gender_responses(ID), \
            FOREIGN KEY (income_cat) REFERENCES income_cat_responses(ID), \
            FOREIGN KEY (voter_category) REFERENCES voter_category_responses(ID))"
cursor = conn.cursor()
cursor.execute(create_sql_responses)

In [14]:
for row in main_df.itertuples():
    insert_sql_responses = f"INSERT INTO responses (RespId, q3_1, q3_2, q3_3, q3_4, q3_5, q3_6, q4_1, q4_2, q4_3, q4_4, q4_5, \
                q4_6, q5, q30, pp_age, educ, race, gender, income_cat, voter_category) VALUES ({row[1]}, {row[2]}, \
                {row[3]}, {row[4]}, {row[5]}, {row[6]}, {row[7]}, {row[8]}, {row[9]}, {row[10]}, {row[11]}, {row[12]},\
                {row[13]}, {row[14]}, {row[15]}, {row[16]}, {row[17]}, {row[18]}, {row[19]}, {row[20]}, {row[21]})"
    cursor.execute(insert_sql_responses)

In [15]:
conn.commit()